/autom4te.cache
/config.log
/config.status
/configure
/deps.dot
/deps.png
/deps.map
/.remake
/remake
/remake.exe
/Remakefile

/src/Tactic_float.v
/src/Plot/interval_plot.ml

/html/
/public/

*.vo
*.vok
*.vos
*.vd
*.glob
*.aux
*.v.bak
*.cm*
*.o
.coq-native
*~
*.cache
*#
*.el
*.bkp*
