Erik Martin-Dorel <erik.martin-dorel@irit.fr> <erik.martin-dorel@ens-lyon.org>
Erik Martin-Dorel <erik.martin-dorel@irit.fr> <erik.martin-dorel@ens-lyon.fr>
Pierre Roux <pierre.roux@onera.fr> <pierre@roux01.fr>
Laurent Thery <laurent.thery@inria.fr> <thery@sophia.inria.fr>
